body {
  background-color:#191724;
  color: #e0def4;
}

pre {
  margin: 0;
}

.content {
  margin: 0 auto;
  width: 45rem;
}

.org-src-container {
  background-color: #26233a;
  border-radius: 5px;
  padding: 5px;
  overflow-x: auto;
}
